body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF0000;
    padding: 20px;
    height: 30px;
}

.header h1 {
    color: #FFFFFF;
    margin: 0;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a,
.logout-button {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigation a:hover,
.logout-button:hover {
    background-color: #E50914;
    border-radius: 5px;
}
