.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #dddddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar p {
    margin: 0;
    font-size: 1.2em;
    color: #000000;
}

.content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}