<div class="container">
    <aside class="sidebar">
        <p>Youtube</p>

        <div>
            <p>Playlist</p>
            <ul>
                @for (playlist of playlists; track playlist.videoId) {
                <li>
                    <a class="lien" [routerLink]="['/video', playlist.id.videoId]">{{ playlist.snippet.title }}</a>
                    <div>
                        <img [src]="deleteVideo" alt="Supprimer" (click)="supprimerVideo(playlist.snippet.title)">
                    </div>
                </li>
                }
            </ul>
        </div>
    </aside>

    <div class="content">
        <form [formGroup]="rechercheForm" (ngSubmit)="onSubmit()" class="video-form">
            <h2 class="form-title">Formulaire de recherche</h2>

            <div>
                <div>
                    <input type="text" formControlName="recherche" name="recherche" id="recherche"
                        class="form-control" placeholder="Rechercher une vidéo" />
                </div>

                <div class="contentButton">
                    <button type="submit" class="buttonSubmit">Rechercher</button>
                </div>
            </div>
        </form>

        <div class="liste-videos">
            <ul>
                @for (video of videos; track video.id) {
                <li>
                    <img [src]="video.snippet.thumbnails.default.url" alt="thumbnail" />
                    <h2>{{ video.snippet.title }}</h2>
                    <p>{{ video.snippet.description }}</p>
                    <button (click)="ajouterPlayList(video)">Ajouter</button>
                </li>
                }
            </ul>
        </div>


    </div>
</div>